name: ci

on:
  push:
    branches:
      - master
  schedule:
    - cron: "0,25 0,12,19 * * *" 

jobs:
  autogreen:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Auto green
        run: |
          git config --local user.email "77theace@gmail.com"
          git config --local user.name "lhl77"
          git remote set-url origin https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git pull --rebase
          git commit --allow-empty -m "a commit a day keeps your girlfriend away"
          git push
